<footer class="footer">
    <div class="container-fluid">
        <div class="row footer--info">
            <div class="col-md-6">
                <img src="{{imgPath + 'evs-white-logo.png'}}">
            </div>
            <div class="col-md-6 text-right footer-navigation">
                <ul>
                    <li>
                        <a href="">About Portal</a>
                    </li>
                    <li>
                        <a href="">Whats New</a>
                    </li>
                    <li>
                        <a href="">FAQs</a>
                    </li>
                    <li>
                        <a href="" class="borderNone">Feedback</a>
                    </li>
                </ul>
                <p>Write to us @marketspendoptimization@evalueserve.com</p>
            </div>
        </div>
        <div class="row footer--copyright">
            <div class="col-md-12">
                Copyright 2021. Evalueserve.com Pvt. Ltd. All rights reserved.
            </div>
        </div>
    </div>
</footer>