<my-spinner [overlay]="overlay"></my-spinner>
<p-growl [life]="growlLife" [(value)]="msgs"></p-growl>
<main class="container" id="loginMid">
    <div class="row">
        <div class="loginWidth">

            <div class="wrapperLoginForm box">
                <form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()" class="form-signin">
                    <h2 class="form-forgot-heading">Forgot your password ?</h2>
                    <small class="marginB20">Enter you email below, and we'll send you the Reset Link</small>
                    <div class="clearfix"></div>
                    <div class="marginB50 marginT30">
                        <div>
                            <input type="email" formControlName="email" name="email" required autocomplete="off">
                            <label>Email</label>
                            <div *ngIf="forgotPassword.get('email').errors && (forgotPassword.get('email').dirty || forgotPassword.get('email').touched)">
                                <span class="error" *ngIf="forgotPassword.get('email').hasError('required')">Please enter email address</span>
                                <span class="error" *ngIf="forgotPassword.get('email').hasError('email')">Invalid email address</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block login_Btn" type="submit" [disabled]="!forgotPassword.valid">Send Reset Link</button>
                    <div class="text-center marginT10 bold">
                        <a href="javascript:void(0)" (click)="onLogin()">
                            <small>Back to Login</small>
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>