<my-spinner [overlay]="overlay"></my-spinner>
<p-growl [life]="growlLife" [(value)]="msgs"></p-growl>
<main class="container" id="loginMid">
    <div class="row">
        <div class="loginWidth">

            <div class="wrapperLoginForm box">
                <form [formGroup]="updatePassword" (ngSubmit)="onSubmit()" class="form-signin">
                    <h2 class="form-forgot-heading">Update your password ?</h2>
                    <small class="marginB20"></small>
                    <div class="clearfix"></div>
                    <div class="marginT30">
                        <div>
                            <input type="password" formControlName="password" name="password" required autocomplete="off">
                            <label>Password</label>
                            <div *ngIf="updatePassword.get('password').errors && (updatePassword.get('password').dirty || updatePassword.get('password').touched)">
                                <span class="error" *ngIf="updatePassword.get('password').hasError('required')">Password is required</span>
                                <span class="error" *ngIf="updatePassword.get('password').hasError('minlength')">Password must be at least 8 characters</span>
                            </div>
                        </div>
                    </div>
                    <div class="marginB50 marginT30">
                        <div>
                            <input type="password" formControlName="confirmPassword" name="confirmPassword" required autocomplete="off">
                            <label>Confirm Password</label>
                            <div *ngIf="updatePassword.get('confirmPassword').errors && (updatePassword.get('confirmPassword').dirty || updatePassword.get('confirmPassword').touched)">
                                <span class="error" *ngIf="updatePassword.get('confirmPassword').hasError('required')">Confirm password is required</span>
                                <span class="error" *ngIf="updatePassword.get('confirmPassword').hasError('confirmedValidator')">Password and Confirm Password must be match</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block login_Btn" type="submit" [disabled]="!updatePassword.valid">Update Password</button>
                    <div class="text-center marginT10 bold">
                        <a href="javascript:void(0)" (click)="onLogin()">
                            <small>Back to Login</small>
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>